body{
  background:grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main{
  width:200px;
  height:200px;
  background:white;
  padding:20px;
  margin:20px;
  margin:auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align:center;
}
main *{
  margin-top:10px;
  width:100%;
  box-sizing:border-box;
  padding:5px;
  border:none;
  border-bottom:1px solid grey;
}
#estado{
  color:red;
}
